---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div class="teaching-intro" style="margin-bottom: 2rem;">
  <p>
    I view teaching as an opportunity to equip students with analytical tools to understand real-world inequalities. My courses emphasize active learning, applied data work, and connecting theory to lived experiences—from local poverty in New York to development challenges in South Asia. I strive to create an inclusive environment where all students can see themselves in economics.
  </p>
   <p>
 <a target="_blank" rel="noopener noreferrer" href="https://casetatro.github.io/teaching/Fall 2025 - Teaching Philosophy.pdf">Read my full Teaching Philosophy here.</a>
  </p>
</div>




{% for post in site.teaching %}
  {% include archive-single-teaching.html %}
{% endfor %} 

