---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<div class="teaching-intro" style="margin-bottom: 2rem;">
  <p>
    I love teaching and I care deeply about teaching. Regardless of whether I am the instructor or a teaching assistant (TA), I want my students to think critically and apply rather than regurgitate knowledge. I care about all students, not just those who get A’s. I spend more time on teaching than anyone I know. The reasons I want to spend the extra time teaching are i. I care about my students and ii. I simply enjoy it.
  </p>
   <p>
 <a href="{{ '/teaching/2024.10.22-Teaching-Philosophy.pdf' | relative_url }}">Read my full Teaching Philosophy here.</a>
  </p>
</div>


{% for post in site.teaching %}
  {% include archive-single-teaching.html %}
{% endfor %}
